ErrorDocument 404 /htaccessTest/errors/404_message.php
RewriteEngine On
RewriteRule ^crimes/6-2013/(xml|json) /awtd/Controllers/GetRequest\.php
RewriteRule ^crimes/6-2013/([a-zA-Z_]*)/(xml|json) /awtd/Controllers/GetRequest?region=$1
RewriteRule ^crimes/6-2013/put/([a-zA-Z_]*):([0-9]*)/(xml|json) /awtd/Controllers/PutRequest?region=$1&data=$2
RewriteRule ^crimes/6-2013/put/([a-zA-Z_]*):([0-9]*)/(xml|json) /awtd/Controllers/PutRequest?region=$1&data=$2